/*---Class CSS---*/
.nb-bg-color{
    background-color: rgb(65, 4, 56);
}

a.navbar-brand{
    width: 8%;
    height:auto;
}

img#saul{
    width: 100%;
    height: auto;
    transition: transform 1s ease;
    position: relative;
    z-index: 10;
}

img#saul:hover{
    transform: scale(11, 7) translate(50%, 50%);
    transition: transform 1s ease 2s;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

a#nbMenuItem{
    font-size: 25px;
    padding: 0 20px;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{
    padding-right: 20px;
}

.footer{
    background-color: #1d1021;
}

.rationale-img{
    width: 100%;
    height: auto;
    opacity: 1;
}

.icon-white{
    color:rgb(163, 140, 160);
}

.stuffs{
    background-color: rgb(206, 175, 206);
}

.author{
    background-color:rgb(163, 140, 160);
    padding-bottom: 20px;
}

hr{
    border: 2px solid black;
}

.card-img-top{
    height: 300px;
    width: auto;
}

.tojesse:hover{
    background-image: url("./img/jesse.jpg");
    background-size: 100% 100%;
}

.disappear{
    opacity: 1;
    transition: opacity 1s ease;
}

.disappear:hover{
    opacity: 0;
    transition: opacity 2s ease 5s;
}

h1 a{
    text-decoration: none;
    color: inherit;
}

h1 a:hover{
    color: inherit;
}
